body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#tablero{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    width: 45%;
    aspect-ratio: 1 / 1;
    border: 5px solid chocolate;
}

.cabeza{
    background-color: green;
}

/* Gestión de las comidas*/
.comida1 {
    background-image: url("img/manzana-pixel.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: green;
}
.comida2 {
    background-image: url("img/platano-pixel.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: green;
}
.comida3 {
    background-image: url("img/fresa-pixel.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: green;
}

.cuerpo{
    background-color: cornflowerblue;
}

.vacio{
    background-color: white;
    border: 1px solid saddlebrown;
}

.invisible{
    display: none;
}